<div class="row">
  <div class="col-12 col-md-4" >
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Kenya | Nairobi</h5>
        <p class="card-text">Fake Address 1,Nairobi</p>
        <p class="card-text">098665544443</p>
        <p class="card-text">test@email.com</p>
      </div>
    </div>
  </div>
    <div class="col-12 col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Kenya | Mombasa</h5>
          <p class="card-text">Fake Address 1,Nairobi</p>
          <p class="card-text">098665544443</p>
          <p class="card-text">test@email.com</p>
        </div>
      </div>
    </div>
      <div class="col-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Kenya | Kisumu</h5>
            <p class="card-text">Fake Address 1,Nairobi</p>
            <p class="card-text">098665544443</p>
            <p class="card-text">test@email.com</p>
          </div>
        </div>
      </div>
</div>
